@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  /* Breadcrumb styles  */
  .breadcrumb {
    overflow: hidden;
  }

  .breadcrumb li {
    position: relative;
  }

  .breadcrumb li::after,
  .breadcrumb li::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 24px solid;
    @apply border-l-gray-8;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }

  .breadcrumb li::before {
    border-left: 24px solid;
    @apply border-l-black;
    margin-left: 6px;
    z-index: 1;
  }

  *::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-7;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-6 rounded-md;
  }

  @keyframes circle--animation {
    0%,
    25% {
      stroke-dashoffset: 280;
      transform: rotate(0);
    }

    50%,
    75% {
      stroke-dashoffset: 75;
      transform: rotate(45deg);
    }

    100% {
      stroke-dashoffset: 280;
      transform: rotate(360deg);
    }
  }

  @keyframes svg--animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  svg.spinner {
    animation: 2s linear infinite svg--animation;
  }

  circle.spinner {
    fill: transparent;
    stroke-dasharray: 283;
    stroke-linecap: round;
    transform-origin: 50% 50%;
    stroke-dashoffset: 280;
    animation: 1.4s ease-in-out infinite both circle--animation;
  }
}
