@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  /* Breadcrumb styles  */
  .breadcrumb {
    overflow: hidden;
  }

  .breadcrumb li {
    position: relative;
  }

  .breadcrumb li:last-child {
    @apply rounded-r-full;
    @apply pr-3.5;
  }

  .breadcrumb li::after,
  .breadcrumb li::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 24px solid;
    @apply border-l-gray-8;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }

  .breadcrumb li::before {
    border-left: 24px solid;
    @apply border-l-black;
    margin-left: 6px;
    z-index: 1;
  }
}
